<div class="container-fluid">
  <div class="modal" id="myInquiry" role="dialog" aria-labelledby="Hlabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button class="close" data-dismiss="modal">&times;</button>
          <h4 id=Hlabel>thanks for contacting us </h4>
          
          
        </div>
          
          <div class="modal-body">
              <label for="inquiry">your inquiry:</label>
            <textarea class="form-control" rows="5" id="inquiry"></textarea>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
             <button type="button" class="btn btn-success">send</button>
          
          </div>
      </div>   
   </div>  
  </div>
     
     
 </div>