<app-search></app-search>

<table class="table table-striped table-hover table-bordered table-condensed">
  <tr> 
    <th> Request Number</th>
    <th>status</th>
    <th>number</th>     
    <th>local Format</th>      
    <th>international Format</th>      
    <th>Country Prefix</th>
    <th>Country code</th>
    <th>Country name</th>
    <th>Carrier</th>
    <th>LineType</th>
</tr>

<tr>
  <td>{{historyData.valid}}</td>
  <td>{{historyData.number}}</td>   
  <td>{{historyData.local_format}}</td> 
  <td>{{historyData.international_format}}</td> 
  <td>{{historyData.country_prefix}}</td> 
  <td>{{historyData.country_code}}</td> 
  <td>{{historyData.country_name}}</td> 
  <td>{{historyData.carrier}}</td> 
  <td>{{historyData.line_type}}</td> 
        
</tr>


















  </table>