<div class="panel panel-default" style="width:40%">
<div class="panel-heading">phone Number validation </div>
    <div class="panel-body" >
    <form class="form-hotizontal " [formGroup]="myForm" (ngSubmit)="onclick()">
        <div class="form-group  form-horizontal">
            <div class="col-xs-6">
        <label for="num">please Enter a phone Number</label>
        <input class="form-control" type="number" placeholder="Ex:(020-100)" formControlName="searchedNumber" id="num">
        <button title="please insert a valid number format" id="button1"type="submit" class="form-control btn btn-success" [disabled]="!myForm.valid" routerLink = "/currentData" routerLinkActive="active">validate</button>

      
        </div>
          
          

        </div>
    </form>
       
  </div>
 
</div>
  
<div class="panel panel-default"id="historyPanel" style="width:40%">
    <div class="panel-heading"> view History</div>
    <div class="panel-body" >


        <button  id="button2"type="submit" class="form-control btn btn-success" routerLink = "/history" routerLinkActive="active" >view</button>

        </div>










    </div>
  
  
  
  
  
  
  
  




