  
    <form class="form-hotizontal " [formGroup]="myForm" (ngSubmit)="onclick()">
        <div class="form-group  form-horizontal">
            <div class="col-xs-6">
        <label for="num">phone Number</label>
        <input title="please insert a valid number format"class="form-control" type="number" placeholder="Ex:(020-100)" formControlName="searchedNumber" id="num">
        <button type="submit" class="form-control btn btn-success" [disabled]="!myForm.valid" routerLink = "/currentData" routerLinkActive="active">validate</button>

      
      </div>
          
          

        </div>
    </form>
       
    
  
  
  
  
  
  
  
  
  
  
  
  




