<app-search></app-search>
<br>
<br>

<br><br>
<br>
<br>

<table class="table table-striped table-hover table-bordered table-condensed">
    <tr> 
        <th>Field</th>
        <th>Value</th> 
     </tr>

     <tr>
         <td>Status</td>
         <td>{{phoneData.valid}}</td>
     </tr> 

     <tr>
        <td>number</td>
        <td>{{phoneData.number}}</td>
     </tr>

      <tr>
          <td>local Format</td>
          <td>{{phoneData.local_format}}</td>
      </tr>
      <tr>
          <td>international Format</td>
          <td>{{phoneData.international_format}}
      </tr>
      <tr>
          <td>Country Prefix</td>
          <td>{{phoneData.country_prefix}}</td>
      </tr>
      <tr>
          <td>Country name</td>
          <td>{{phoneData.country_name}}</td>
      </tr>
      <tr>
          <td>Carrier</td>
          <td>{{phoneData.carrier}}</td>
      </tr>
  
      <tr>
          <td>LineType</td>
          <td>{{phoneData.line_type}}</td>
      </tr>
  
      
  
     
</table>